@config "./tailwind.config.js";

@import "tailwindcss";
@tailwind utilities;

@source inline("{group-hover:,hover:,}bg-{on-,}{primary,variant,secondary,background,surface,error}");
@source inline("bg-{primary,variant,secondary,background,surface,error}");

@source inline("opacity-[.{05,07,08,09,11,12,14,15,16}]");
@source inline("shadow-{none,xs,sm,md,lg,{2,}xl}");

@source inline("rounded-{tl-,tr-,br-,bl-,}{xs,sm,md,lg,{2,3,4,}xl,full}");

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

